@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

body {
    background-image: linear-gradient(#1B1919, #6F6868);
    background-repeat: no-repeat;
    background-size: auto;
}

li,
a,
.contact--btn {
    font-family: 'Madimi One', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: rgb(213, 66, 21);
    text-decoration: none;
}

.contact--btn {
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 50px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #a9320e;
}

.contact--btn {
    padding: 9px 25px;
    background-color: rgb(213, 66, 21);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.contact--btn:hover {
    background-color: #a9320e;
}

.hamburger__menu {
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger__menu .bar,
.hamburger__menu::after,
.hamburger__menu::before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #fff;
    margin: 6px 0px;
    transition: 0.4s;
}
.hamburger__menu.is-active::before{
    transform: rotate(-45deg) translate(-8px, 6px);
}
.hamburger__menu.is-active .bar{
    opacity: 0;
}
.hamburger__menu.is-active::after{
    transform: rotate(45deg) translate(-8px, -8px);
}

.main__text__container {
    display: flex;
    font-family: 'Madimi One', sans-serif;
    padding: 20px 10%;
    margin-top: 5%;
    color: white;
}

.main__text {
    width: 500%;
    font-weight: 500;
    font-size: 7em;
    letter-spacing: 5px;
}

.paragraph__text {
    display: flex;
    font-family: 'Madimi One', sans-serif;
    padding: 10px 10%;
    color: white;
}

.paragraph__text p {
    font-size: 25px;
    line-height: 150%;
}

.main__burger__container {
    display: flex;
}

.burger__image {
    position: absolute;
    top: 7%;
    left: 53%;
    height: 1000px;
    width: 1000px;
}

.cta__btns {
    display: flex;
    padding: 50px 10%;
}

.order__now__btn,
.view__more__btn {
    font-family: 'Madimi One', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    color: white;
    background-color: rgb(213, 66, 21);
    text-align: center;
    width: 200px;
    height: 60px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.order__now__btn:hover {
    background-color: #a9320e;
}

.view__more__btn {
    background-color: transparent;
    border: 3px solid white;
    color: rgb(213, 66, 21);
    margin: 0 3rem;
}

.view__more__btn:hover {
    background-color: rgb(194, 193, 193);
}

img {
    max-width: 100%;
    max-height: 100%;
}

.bottom__burger__container {
    display: flex;
    padding: 60px 10%;
}

.bottom__burger__container img {
    border: 2px solid white;
    border-radius: 15px;
    margin: 0 10px;
    width: 220px;
    height: 200px;
}

/* #preloader {
    background-image: linear-gradient(#1B1919, #6F6868);
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
} */

@media screen and (max-width: 1200px) {
    .logo {
        width: 250px;
        height: 100px;
    }

    li,
    a,
    .contact--btn {
        font-size: 1em;
    }

    .main__text__container {
        flex-wrap: wrap;
        padding: 5px 10%;
    }

    .main__text {
        width: 100%;
        font-size: 3em;
        letter-spacing: 10px;
    }

    .paragraph__text {
        flex-wrap: wrap;
    }

    .paragraph__text p {
        font-size: 1rem;
    }

    .cta__btns {
        padding: 30px 10%;
    }

    .order__now__btn,
    .view__more__btn {
        font-size: 1em;
        width: 150px;
        height: 40px;
        border-radius: 10px;
    }

    .burger__image {
        top: 20%;
        left: 57%;
        height: 500px;
        width: 500px;
    }

    .bottom__burger__container {
        flex-wrap: wrap;
    }

    .bottom__burger__container img {
        margin: 5px 5px;
        width: 130px;
        height: 130px;
    }
}

@media screen and (max-width: 768px) {
    body {
        background-repeat: repeat;
    }

    li,
    a,
    .contact--btn {
        display: none;
    }
}