@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body{
    background-image: linear-gradient(#1B1919, #6F6868);
    background-repeat: no-repeat;
    background-size: cover;
}

li,
a,
.contact--btn {
    font-family: 'Madimi One', sans-serif;
    font-weight: 500;
    font-size:25px;
    color: rgb(213, 66, 21);
    text-decoration: none;
}

.contact--btn {
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 50px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #a9320e;
}

.contact--btn{
    padding: 9px 25px;
    background-color: rgb(213, 66, 21);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.contact--btn:hover{
    background-color: #a9320e;
}

.main__text__container{
    display: flex;
    font-family: 'Madimi One', sans-serif;
    padding: 20px 10%;
    margin-top: 5%;
    color: white;
}

.main__text {
    width: 500%;
    font-weight: 500;
    font-size:7em;
    letter-spacing: 5px;
}

.paragraph__text{
    display: flex;
    font-family: 'Madimi One', sans-serif;
    padding: 10px 10%;
    color: white;
}

.paragraph__text p {
    font-size: 25px;
    line-height: 150%;
}

.main__burger__container {
    display: flex;
}

.burger__image {
    position: absolute;
    top: 10%;
    left: 60%;
}